certifi==2018.1.18
chardet==3.0.4
click==6.7
dash==0.20.0
dash-core-components==0.18.1
dash-html-components==0.8.0
dash-renderer==0.11.3
decorator==4.2.1
Flask==0.12.2
Flask-Compress==1.4.0
-e git+git@github.com:Grasia/grasia-dash-components.git@da75119fed500e65d15733f29a5117d204320926#egg=grasia_dash_components
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
nbformat==4.4.0
plotly==2.4.0
pytz==2018.3
requests==2.18.4
setuptools==20.7.0
six==1.11.0
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
